<div id="createClazz">
	<h2>Create Class</h2>
	<br />

	<div class="row-fluid">
		<div class="span6" style="width: 20%">

			<select class="form-control" ng-model="ontClasses" required
				ng-options="clazz.iri.remainder for clazz in classList"
				ng-init="classList[0].iri.remainder"></select><br>


			<div class="input-group">
				<div class="input-group-addon">#</div>
				<input class="form-control" type="text" placeholder="Enter Class"
					ng-model="newClazz">

			</div>
			<div>
				<button type="button" class="btn btn-primary" ng-click="addClazz()">Add</button>
			</div>


		</div>
	</div>
</div>