<div>
    <h2>Create Individual</h2>
    <br/>

    <div class="row-fluid">
        <div class="span6" style="width: 20%">

            <select class="form-control" ng-model="ontClasses" required
                    ng-options="clazz.iri.remainder for clazz in classList"
                    ng-init="classList[0].iri.remainder"></select><br>

            <div class="input-group">
                <div class="input-group-addon">#</div>
                <input class="form-control" type="text" placeholder="Enter Individual"
                       ng-model="newIndividual">

            </div>
            <div>
                <button type="button" ng-disabled="!ontClasses" class="btn btn-primary" ng-click="addIndividual()">Add
                </button>
            </div>


        </div>
    </div>
</div>