<!-- LoadObjectProperties.html -->
<div class="container">
    <div class="row">


        <div class="col-md-4">
            <h3 class="heading">Object Properties List</h3>
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Name</th>
                </tr>
                </thead>
                <tbody ng-repeat="prop in propList">
                <tr ng-click="clickedProp(prop)">
                    <td>{{prop.iri.remainder}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <h3 class="heading">List</h3>
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Domain</th>
                </tr>
                </thead>
                <tbody ng-repeat="dom in domList">
                <tr>
                    <td ng-click="clickedDomain(dom)">{{dom.iri.remainder}}</td>
                    <td>
                        <button type="button" class="btn btn-primary" ng-click="deleteDomain(dom)">Delete</button>
                    </td>
                </tr>

                </tbody>
            </table>
            <br/>
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Range</th>
                </tr>
                </thead>
                <tbody ng-repeat="ran in ranList">
                <tr>
                    <td ng-click="clickedRange(ran)">{{ran.iri.remainder}}</td>
                    <td>
                        <button type="button" class="btn btn-primary" ng-click="deleteRange(ran)">Delete</button>
                    </td>
                </tr>

                </tbody>
            </table>
            <br />
        </div>
        <div class="col-md-4">
            <h3 class="heading">Domain</h3>
            <h4><span class="label label-success">{{selectedDomain}}</span></h4> <br/>

            <div class="input-group">
                <div class="input-group-addon">#</div>
                <div>
                    <select class="form-control" ng-model="domClass" required
                            ng-options="domClazz.iri.remainder for domClazz in classList"
                            ng-init="classList[0]"></select>
                </div>
            </div>
            <br/>

            <h3 class="heading">Range</h3>
            <h4><span class="label label-success">{{selectedRange}}</span></h4> <br/>

            <div class="input-group">
                <div class="input-group-addon">#</div>
                <div>
                    <select class="form-control" ng-model="ranClass" required
                            ng-options="ranClazz.iri.remainder for ranClazz in classList"
                            ng-init="classList[0]"></select>
                </div>
            </div>
            <br/>

            <div>
                <button type="button" class="btn btn-primary" ng-click="AddObjectProperty()">Add</button>
            </div>
        </div>
    </div>
</div>