<!-- LoadOntology.html -->
<div class="container">
    <div class="row">


        <div class="col-md-4">
            <h3 class="heading">Class List</h3>
            <table class="table table-striped table-bordered">
                <thead>
                <tr ng-click="setThing()">
                    <th>Name</th>
                </tr>
                </thead>
                <tbody ng-repeat="clazz in classList">
                <tr ng-click="clickedClazz(clazz)">
                    <td>{{clazz.iri.remainder}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <h3 class="heading">Create Class</h3>
            <h4><span class="label label-success">{{selectedClazz}}</span></h4> <br/>

            <div class="input-group">
                <div class="input-group-addon">#</div>
                <input class="form-control" type="text" placeholder="Enter Class" ng-model="newC">
            </div>
            <br/>

            <div>
                <button type="button" class="btn btn-primary" ng-click="addClazz()">Add</button>
            </div>
        </div>
        <div class="col-md-4">
            <h3 class="heading">Delete Class</h3>

            <div>
                <select class="form-control" ng-model="ontClasses" required
                        ng-options="delClazz.iri.remainder for delClazz in classList"
                        ng-init="classList[0].iri.remainder"></select>
            </div>
            <br/>

            <div>
                <button type="button" class="btn btn-primary" ng-click="deleteClazz(ontClasses.iri.remainder)">Delete
                </button>
            </div>
        </div>
    </div>
</div>