<!-- LoadIndividual.html -->
<div class="container">
    <div class="row">


        <div class="col-md-4">
            <h3 class="heading">Class List</h3>
            <table class="table table-striped table-bordered">
                <thead>
                <tr ng-click="setThing()">
                    <th>Name</th>
                </tr>
                </thead>
                <tbody ng-repeat="clazz in classList">
                <tr ng-click="clickedClazz(clazz)">
                    <td>{{clazz.iri.remainder}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <h3 class="heading">Add Individual</h3>
            <h4><span class="label label-success">{{selectedClazz}}</span></h4> <br/>

            <div class="input-group">
                <div class="input-group-addon">#</div>
                <input class="form-control" type="text" placeholder="Enter Name" ng-model="newInd">
            </div>
            <br/>

            <div>
                <button type="button" class="btn btn-primary" ng-click="addIndividual()">Add</button>
            </div>
        </div>
        <div class="col-md-4">
            <h3 class="heading">List Individuals</h3>
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Names</th>
                </tr>
                </thead>
                <tbody ng-repeat="ind in indList">
                <tr ng-click="clickedInd(ind)">
                    <td>{{ind.iri.remainder}}</td>
                </tr>
                </tbody>
            </table>
            <div>
                <button type="button" class="btn btn-primary" ng-click="delIndividual()" ng-disabled="!selectedInd">Del</button> {{selectedInd}}
            </div>

        </div>
    </div>
</div>