<!DOCTYPE html>
<html lang="en" ng-app="semanticApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Semantic Web</title>

    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <meta charset="utf-8">

    <base href="/">
</head>
<body ng-controller="CtrlMain">
<!-- HEADER AND NAVBAR -->
<header>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li ng-click="createOnt()"><a class="btn btn-default btn-lg" role="button">New</a></li>
                    <li ng-click="loadOntology()"><a class="btn btn-default btn-lg" role="button">Load</a></li>
                    <li ng-click="loadOntology('museum')"><a class="btn btn-default btn-lg" role="button">Museum</a>
                    </li>

                    <!--
                    <li ng-click="createOnt()"> New</li>
                    <li ng-click="loadOntology()"> Load</li>
                    <li ng-click="loadOntology('museum')"> Museum</li>
                   -->

                </ul>
            </div>
        </div>
    </nav>
    <div>
        <nav class="navbar">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="#load" class="btn btn-default btn-lg" role="button">Classes</a></li>
                <li><a href="#ind" class="btn btn-default btn-lg" role="button">Individuals</a></li>
                <li><a href="#objprop" class="btn btn-default btn-lg" role="button">Object Properties</a></li>
                <li><a href="#dataprop" class="btn btn-default btn-lg" role="button">Data Properties</a></li>
            </ul>
        </nav>
        <!--
                <button type="button" class="btn btn-primary" ng-click="loadOntology()">Classes</button>
                <button type="button" class="btn btn-primary" ng-click="loadIndividual()">Individuals</button>
                <button type="button" class="btn btn-primary" ng-click="loadProperties()">Properties</button>-->
    </div>
</header>
<!-- MAIN CONTENT AND INJECTED VIEWS -->
<div id="main">
    <div ng-view></div>
    <!-- angular templating -->
    <!-- this is where content will be injected -->

</div>

<!-- FOOTER -->
<footer class="text-center">
    Semantic Web Project by Ms. Nada - University of Leicester
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="jquery/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="angular/angular.js"></script>
<script src="angular/angular-resource.js"></script>
<script src="angular/angular-route.js"></script>
<script src="angular/ui-bootstrap.js"></script>
<script src="system/service.js"></script>
<script src="system/controllers/main.js"></script>
<script src="system/controllers/LoadOntology.js"></script>
<script src="system/controllers/CreateClass.js"></script>
<script src="system/controllers/LoadIndividual.js"></script>
<script src="system/controllers/ObjProp.js"></script>

</body>
</html>